<!-- Programação altera o template - via de mão única -->
<label>Nome: </label>
<input type="text" [value] = "name">
Se digitar não altera a variavel "name"
<p>================================================================================</p>

<!-- Programação altera o template e o template a programação - via de mão dupla -->
Troca automaticamente o valor da variável
<p></p>
<label>Nome: </label>
<input type="text" [(ngModel)] = "name">
<p></p>
<label>Valor: </label>
<input type="text" [(ngModel)] = "value">
{{ name }}
<p>================================================================================</p>

<button type="button" (click)="addInstrument()">ADICIONAR UM INSTRUMENTO</button>
